<%- include('parts/html-head.ejs') %>
<%- include('parts/navbar.ejs') %>
<body>
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
    </table>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <% for(let i of sales){ %>
      <tr>
        <td><%= i.id  %> </td>
        <td><%= i.name  %></td>
        <td><%= i.age  %></td>
      </tr>
    <% } %>
    </tbody>
  </table>
</div>
  
  <%- include('parts/scripts.ejs') %>
  <%- include('parts/html-foot.ejs') %>